<template>
  <div>
    <Table :data="data" :columns="columns" @delete="removeUser"/>
  </div>
</template>



<script>
import Table from "./table";
import _findIndex from "lodash/findIndex";

export default {
  name: "home",
  data() {
    return {
      data: [
        {
            id: 1,
            name: 'John Gwapo',
            age: 18,
            address: 'New York No. 1 Lake Park'
        },
        {
            id: 2,
            name: 'Ichu',
            age: 24,
            address: 'London No. 1 Lake Park'
        },
        {
            id: 3,
            name: 'Joe Black',
            age: 30,
            address: 'Sydney No. 1 Lake Park'
        },
        {
            id: 4,
            name: 'Jon Snow',
            age: 26,
            address: 'Ottawa No. 2 Lake Park'
        }
      ],
      columns: [
        {
            title: 'Name',
            slot: 'name'
        },
        {
            title: 'Age',
            key: 'age'
        },
        {
            title: 'Address',
            key: 'address'
        },
        {
            title: 'Action',
            slot: 'action',
            width: 150,
            align: 'center'
        }
      ],
    }
  },
  methods: {
    removeUser(val) {
      let index = _findIndex(this.data, ["id", val.id]);
      this.data.splice(index, 1);
      this.$Message.success("Deleted successfully.");
    }
  },
  components: {
    Table
  }
};
</script>