<template>
    <Modal
        v-model="isModal"
        :title="title"
        @on-ok="ok"
        @on-cancel="cancel">
        <div v-if="title=='Delete'">
            <p>You are about to delete {{userObj.name}}'s record.</p>
            <p>Do you want to continue?</p>
        </div>
        <div v-else>
            <p>Name: {{userObj.name}}</p>
            <p>Age: {{userObj.age}}</p>
            <p>Address: {{userObj.address}}</p>
        </div>
    </Modal>
</template>
<script>
    export default {
        props: {
            title: String,
            user: Object,
            isShow: {default: false}
        },
        computed: {
            isModal: {
                get() {
                    return this.isShow;
                },
                set() {
                    this.$emit("closeModal");
                }
            }
        },
        data () {
            return {
                modal1: false,
                userObj: {
                    id: null,
                    name: null,
                    address: null,
                    age: null
                }
            }
        },
        methods: {
            ok () {
                this.$emit('delete', this.userObj);
            },
            cancel () {
                
            }
        },
        watch: {
            user: function(val) {
                this.$nextTick(() => {
                    this.resetDataName(this, "userObj");                });
                if (val) {
                    this.$nextTick(() => {
                        this.userObj = val;
                    });
                }
            }
        }
    }
</script>