<template>
    <div>
        <Table border :columns="columns" :data="tableData">
            <template slot-scope="{ row }" slot="name">
                <strong>{{ row.name }}</strong>
            </template>
            <template slot-scope="{ row, index }" slot="action">
                <Button type="primary" size="small" style="margin-right: 5px" @click="show(index)">View</Button>
                <Button type="error" size="small" @click="remove(index)">Delete</Button>
            </template>
        </Table>
        <Mymodal 
            v-model="isShow"
            :isShow="isShow"
            :title="title"
            :user="user"
            @closeModal="switchModal"
            @delete="deleteUser"
            />
    </div>
</template>

<script>
    import Mymodal from "./modal"

    export default {
        props: {
            data: Array,
            columns: Array
        },
        data () {
            return {
                title: "",
                user: null,
                isShow: false
            }
        },
        methods: {
            show (index) {
                this.title = 'User Info',
                this.user = this.tableData[index];
                this.isShow = true;
            },
            remove (index) {
                this.title = 'Delete',
                this.user = this.tableData[index];
                this.isShow = true;
            },
            deleteUser (data) {
                this.$emit('delete', data);
            },
            switchModal () {
                this.isShow = false;
            }
        },
        computed: {
            tableData: {
                get() {
                    return this.data;
                }
            }
        },
        components: {
            Mymodal
        }
    }
</script>